# Maintainer: Sofiya S.V <sofija.p2018@gmail.com>
pkgname=clearine
pkgver=0.7.10
pkgrel=1
pkgdesc="Beautiful Logout UI for X11 window manager"
arch=('any')
url="https://github.com/sofijacom/clearine"
license=('MIT')
depends=('python-gobject' 'python-cairo')
makedepends=('git')
backup=('etc/clearine.conf')
source=("clearine::git+https://github.com/sofijacom/clearine.git")
md5sums=('SKIP')

pkgver() {
  cd "$pkgname"
  git describe --tags --abbrev=0
}

package() {
  cd $pkgname
  python setup.py install --prefix=/usr --root="$pkgdir/" --optimize=1
  install -d -m755 $pkgdir/etc/
  install -S -m644 $pkgdir/usr/share/clearine/clearine.conf $pkgdir/etc/
  install -D -m644 LICENSE "$pkgdir/usr/share/licenses/clearine/LICENSE.md"
}
